In [263]:
import pandas as pd
import numpy as np

In [264]:
import matplotlib.pyplot as plt

In [341]:
class Ploting:
    def __init__(self,data=None,ax=None,fig=None, x=None, y=None):
        self.data = data
        #self.ax = ax
        #self.fig = fig
        self.x = x
        self.y = y
    def ShowSub(self,data,x,y):
        fig, ax = plt.subplots(1,figsize=(12,12))
        vary = data[y]
        varx = data[x]
        return plt.show(varx,vary)
class Change:
    def __init__(self,data=None,value=None,dataframe=None,label=None):
        self.data = dataframe
        self.label = label
        self.value = value
    def CHangeValue(self,dataframe,label,value):
        self.dataframe = self.dataframe.loc[(self.dataframe[self.label]==self.value)]

In [336]:
change = Change()

In [339]:
change.CHangeValue(dataframe_1,1,'Dim1')

TypeError: CHangeValue() takes 3 positional arguments but 4 were given

In [418]:
data1 = pd.read_csv("/home/ABTLUS/mario.neto/Desktop/scripts/ML_Day/data/WHOregionLifeExpectancyAtBirth.csv")
data2 = pd.read_csv("/home/ABTLUS/mario.neto/Desktop/scripts/ML_Day/data/HALeWHOregionLifeExpectancyAtBirth.csv")

In [419]:
dataframe_1 = pd.DataFrame(data1)
dataframe_2 = pd.DataFrame(data2)

In [420]:
dataframe_1

,Location,Period,Indicator,Dim1,First Tooltip
0,Africa,2019,Life expectancy at birth (years),Both sexes,64.49
1,Africa,2019,Life expectancy at birth (years),Male,62.37
2,Africa,2019,Life expectancy at birth (years),Female,66.65
3,Africa,2015,Life expectancy at birth (years),Both sexes,62.56
4,Africa,2015,Life expectancy at birth (years),Male,60.47
...,...,...,...,...,...
67,Western Pacific,2010,Life expectancy at birth (years),Male,72.52
68,Western Pacific,2010,Life expectancy at birth (years),Female,78.75
69,Western Pacific,2000,Life expectancy at birth (years),Both sexes,72.42
70,Western Pacific,2000,Life expectancy at birth (years),Male,69.80
71,Western Pacific,2000,Life expectancy at birth (years),Female,75.33

In [421]:
#urban = dataframe_1.loc[(dataframe_1['Dim1'])=='Urban']

In [422]:
type(dataframe_1['Period'][2])

numpy.int64

In [425]:
#dataframe_1.loc[(dataframe_1['Dim1'])=='Urban'].head() # loc specific data

In [424]:
dataframe_1['Dim1'] = dataframe_1['Dim1'].replace(['Male'],1)
dataframe_1['Dim1'] = dataframe_1['Dim1'].replace(['Female'],0)
dataframe_1['Dim1'] = dataframe_1['Dim1'].replace(['Both sexes'],2)

In [426]:
dataframe_2['Dim1'] = dataframe_2['Dim1'].replace(['Male'],1)
dataframe_2['Dim1'] = dataframe_2['Dim1'].replace(['Female'],0)
dataframe_2['Dim1'] = dataframe_2['Dim1'].replace(['Both sexes'],2)

In [386]:
#rural = dataframe_1.loc[(dataframe_1['Period']>=2015) & (dataframe_1['Dim1']==1)]
#urban = dataframe_1.loc[(dataframe_1['Period']>=2015) & (dataframe_1['Dim1']==0)]

In [427]:
americas1 = dataframe_1.loc[(dataframe_1['Location']) == 'Americas']

In [428]:
americas2 = dataframe_2.loc[(dataframe_2['Location']) == 'Americas']

In [388]:
#dataframe_1.loc[(dataframe_1['Location']) == 'USA']

In [429]:
americas1 = americas1.drop('Indicator',axis=1)

In [430]:
americas2 = americas2.drop('Indicator',axis=1)

In [431]:
americas1['Location'] = americas1['Location'].replace(['Americas'],3)

In [432]:
americas2['Location'] = americas2['Location'].replace(['Americas'],3)

In [433]:
africa1 = dataframe_1.loc[(dataframe_1['Location']) == 'Africa']

In [434]:
africa2 = dataframe_2.loc[(dataframe_2['Location']) == 'Africa']

In [435]:
africa1 = africa1.drop('Indicator',axis=1)

In [436]:
africa2 = africa2.drop('Indicator',axis=1)

In [437]:
africa1['Location'] = africa1['Location'].replace(['Africa'],4)

In [438]:
africa2['Location'] = africa2['Location'].replace(['Africa'],4)

In [444]:
africa2

,Location,Period,Dim1,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
0,4,2019,2,56.04,64.49,86.897193,87
1,4,2019,1,55.00,62.37,88.183422,88
2,4,2019,0,57.09,66.65,85.656414,86
3,4,2015,2,54.42,62.56,86.988491,87
4,4,2015,1,53.38,60.47,88.275178,88
5,4,2015,0,55.47,64.69,85.747411,86
6,4,2010,2,51.80,59.49,87.073458,87
7,4,2010,1,50.98,57.69,88.368868,88
8,4,2010,0,52.63,61.31,85.842440,86
9,4,2000,2,45.80,52.65,86.989554,87
10,4,2000,1,45.03,51.06,88.190364,88
11,4,2000,0,46.62,54.31,85.840545,86

In [445]:
dictdata1 = {'Africa Age':africa1['First Tooltip'].values,
                                       'Americas Age':americas1['First Tooltip'].values,
                                       'Gender Africa':africa1['Dim1'].values,
                                       'Gender Americas':americas1['Dim1'].values }
#dictdata2 = {'Africa Age':africa2['First Tooltip'].values,
#                                       'Americas Age':americas2['First Tooltip'].values,
#                                       'Gender Africa':africa2['Dim1'].values,
#                                       'Gender Americas':americas2['Dim1'].values }
dataframe_test = pd.DataFrame().from_dict(dictdata1)

In [446]:
dataframe_test

    Africa Age  Americas Age  Gender Africa  Gender Americas
0        64.49         77.16              2                2
1        62.37         74.49              1                1
2        66.65         79.84              0                0
3        62.56         76.78              2                2
4        60.47         74.05              1                1
5        64.69         79.52              0                0
6        59.49         75.44              2                2
7        57.69         72.53              1                1
8        61.31         78.35              0                0
9        52.65         74.12              2                2
10       51.06         71.13              1                1
11       54.31         77.10              0                0